.main {

     height: 100%; 

    /* overflow: scroll; */
    /* -ms-overflow-style: none; */
    /* scrollbar-width: 5px; */
    /* background-color: rgba(255, 255, 255, 0.7) */
}

/* .main::-webkit-scrollbar {
    width: 5px;
    height: 0px;

}

.main::-webkit-scrollbar-thumb {
    background-color: #e01e14;
    box-shadow: 0 0 30px white,

} */

.header {
    display: grid;
    grid-template-areas:
        "e_but a s"
    ;
    background-color: red;
    color: white;
    grid-template-columns: auto 1fr auto;
    /* position: sticky; */
    /* top: 0;
    right: 10px; */

    /* height: 40px; */

    /* align-items: center;
    justify-content: space-between;
    padding: 0 20px 0 20px; */
    padding: 5px;
}

.header span {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 20px;
}

.edit_but {
    grid-area: e_but;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: red;
    margin: 0;
    font-weight: 400;
}

.edit_but:hover {
    background-color: red !important;
    font-weight: 400;
}

.search {
    grid-area: s;
    width: 100%;
    border: none;
    border-radius: 5px;
    height: 32px;
    font-size: 20px;
    padding: 0 5px;
}

.search:focus {
    outline: none;
}

.info {
    height: 100%;
    /* overflow: scroll !important; */
    -ms-overflow-style: none;
    scrollbar-width: 5px;
    background-color: rgba(255, 255, 255, 0.7)
}

.info::-webkit-scrollbar {
    width: 5px;
    height: 0px;

}

.info::-webkit-scrollbar-thumb {
    background-color: #e01e14;
    box-shadow: 0 0 30px white,

}

@media (max-width:600px) {
    .header {
        grid-template-areas:
            "e_but"
            "s"
        ;
        grid-template-columns: 1fr;
        row-gap: 10px;
    }
}