.main {
     height: 100%; 
}
.header {
    display: grid;
    grid-template-areas:
        "title s e_but info_but"
    ;
    background-color: red;
    color: white;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 5px;
}

.header span {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 20px;
}

.edit_but {
    grid-area: e_but;
    cursor: pointer;
    width: 50px;
   justify-self: end;
}
.sources_but{
    grid-area: info_but;
    cursor: pointer;
    width: 50px;
   justify-self: end;
}
.search {
    grid-area: s;
    width: 100%;
    border: none;
    border-radius: 5px;
    height: 32px;
    font-size: 20px;
    padding: 0 5px;
}

.search:focus {
    outline: none;
}
.title{
    grid-area: title;
    margin-left: 10px;
}
.info {
    height: 100%;
    /* overflow: scroll !important; */
    -ms-overflow-style: none;
    scrollbar-width: 5px;
    background-color: rgba(255, 255, 255, 0.8)
}

.info::-webkit-scrollbar {
    width: 5px;
    height: 0px;

}

.info::-webkit-scrollbar-thumb {
    background-color: #e01e14;
    box-shadow: 0 0 30px white,

}

@media (max-width:600px) {
    .header {
        grid-template-areas:
            "title e_but info_but"
            "s s s" 
        ;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
        row-gap: 10px;
    }
    /* .title{
        justify-self: center;
    } */
   
}