.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-height: 200px;
    position: fixed;
    top: 10px;
    left: 0;
}
@media (max-width:600px) {
    .header{
        position: relative;
        width: auto;
    }
    .logo{
        position: absolute;
        top:0;
        right:0;
    }
    .logo img{
        width: 70px;
        height: 70px;
    }
    .menu{
        position: absolute;
        top:30px;
        left:0;
        width: 100%;
    }
    .con{
        position: absolute;
        top:0;
        left:-40px;
    }
    /* .header{
        justify-content: center;
        display: grid;
        grid-template-areas:
        "logo",
        "controls",
        "horisont_menu"
        ;
    } */
    
}