.main {
    position: relative;
    height: 65vh;
    width: 60%;
    padding: 48px;
    overflow: hidden;
    text-align: center;
    margin: auto;
}

.qr {
    margin-top: 50px;
    display: flex;
    column-gap: 50px;
    justify-content: center;
}

@media (max-width:600px) {
    .main {
        width: 95%;
        padding: 0;
        margin-top: 40px;
    }
    .qr{
        display: grid;
    }
}