.main{
    height: 65vh;
    overflow: scroll;
    width: 80%;
    margin: auto;
     -ms-overflow-style: none;
    scrollbar-width: 5px;background-color: rgba(255,255,255,0.5)
}
.main::-webkit-scrollbar{
    width: 5px;
    height: 0px;
    
 }
 .main::-webkit-scrollbar-thumb{
    background-color: #e01e14;
    box-shadow:  0 0 30px white,
    
 }
 