.main{
    height: 90%;
    margin-bottom: 10px;
    overflow: scroll;
    -ms-overflow-style: none;
}
.main::-webkit-scrollbar {
    width: 5px;
    height: 0px;

}

.main::-webkit-scrollbar-thumb {
    background-color: #e01e14;
    box-shadow: 0 0 30px white,

}
.main div {
   margin: 15px;
   
    padding: 10px;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 2px 2px 2px #898989,
        -2px -2px 2px #ffffff;
        z-index: -1;

}
.main a {
    text-decoration: none;
    color :black;
} 
.noFoundBox{
    color: red;
    text-align: center;
}
@media (max-width:600px) {
    .main {
      height: 80%;
    }
}