.main {
    padding: 10px 10px 10px 10px;  
    width: auto;
    overflow: scroll;
    -ms-overflow-style: none;
    height: 90%;
}
.main::-webkit-scrollbar {
    width: 5px;
    height: 0px;

}

.main::-webkit-scrollbar-thumb {
    background-color: #e01e14;
    box-shadow: 0 0 30px white,

}
.main li {
    list-style-type: none;
}

@media (max-width:600px) {
    .main {
      height: 80%;
    }
}