.main{
    display: block;
    height: 150px;
    margin-left: 50px;
    grid-area: logo;
}
.image{
    height: 150px;
} 
@media (max-width:600px) {
    .main{
       margin:0 auto 0 auto;
    }
    .image{
        height: 100px;
    } 
}
